<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS 입문</title>
  <link rel="stylesheet" href="/css/style.css">
  <!-- = href="localhost:4000/user/ejs(여기까지는 static으로 관리)/css/style.css" -->
  <script defer src="/js/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>

<body>
  <a href="/">HOME</a>
  <h1>회원 목록</h1>
  <h2>
    총 회원 수 <%= userCounts %>
  </h2>
  <ul>
    <% if(userCounts> 0){ %>
    <% for(let i=0; i<userCounts; i++) { %>
    <li>
      <p>ID : <%= USER[i].id %></p>
      <p>NAME : <%= USER[i].name %></p>
      <p>EMAIL : <%= USER[i].email %></p>
      <a href="#" onclick="deleteUser('<%= USER[i].id %>');">삭제하기</a>
    </li>
    <% } %>
    <% } else{ %>
    <li>
      회원정보가 없습니다!
    </li>
    <% } %>
  </ul>

  <!-- 회원가입 -->
  <form action="/users" method="POST">
    <div>
      <label for="id">아이디</label>
      <input type="text" name="id" />
    </div>
    <div>
      <label for="name">이름</label>
      <input type="text" name="name">
    </div>
    <div>
      <label for="email">이메일</label>
      <input type="email" name="email">
    </div>
    <button type="submit">회원 등록</button>
  </form>
</body>

<script>
  // 삭제버튼 함수
  /*
  function deleteUser(userId) {
    const url = `http://localhost:4000/users/${userId}`;
    fetch(url, {
        // 기본구조이므로 외워야한다!
        method: 'delete',
        headers: {
          'Content-type': 'application/json'
        }
      })
      .then((res) => {
        console.log(res);
        location.reload(); // 프론트엔드 단에서 재실행 시켜주는 코드
      })
      .catch((err) => {
        console.log(err);
      })
  }
  */

  async function deleteUser(userId) {
    const url = `http://localhost:4000/users/${userId}`;
    const res = await fetch(url, {
      // 기본구조이므로 외워야한다!
      method: 'delete',
      headers: {
        'Content-type': 'application/json'
      }
    })
    if (res.status === 200) {
      location.reload();
    } else console.log('통신 이상');

  }
</script>


</html>